# Build & deployment folders
[Oo]bj/
[Bb]in/

# Temporary Visual Studio files (& VS Code)
*.suo
*.user
.vs/
*.dbmdl
/UpgradeLog.htm
TestResults/

# VS Code files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# ReSharper stuff
_ReSharper.*

# Potential difftool litter files
*.orig

# Ignore NuGet packages
*.nupkg
# ...and packages contents
**/packages/*
# ...except build/, which is used as an MSBuild target.
!**/packages/build/

# MonoDevelop
*.pidb
*.userprefs

# Per-developer/machine configuration files
postBuild.bat
appsettings.*.xml
appsettings.*.json
TestsData.json
App.config

# Ignore temporary files written by programs like Microsoft Word and Vim
~$*
~*.tmp
*.swp
*~
*.chw

# Others
*.[Cc]ache
